<p id="notice"><%= notice %></p>

<p>
  <strong>Email,:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @usuario.name %>
</p>

<p>
  <strong>Rol:</strong>
   <%= @usuario.current_role %>
</p>
<p>
  <strong>Estado:</strong>
  <%= estado_html(@usuario.estado) %>
</p>
<%= link_to 'Regresar', empresa_usuarios_path(@usuario.empresa_id), class:"btn btn-lg btn-secondary" %>

<%= link_to 'Editar', edit_empresa_usuario_path(@usuario.empresa_id, @usuario.id), class:"btn btn-lg btn-warning float-right" %> 
